body{
    overflow: hidden;
}
@media screen and (max-width: 1200px) {
    .button-class{
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 4.3vw;
        max-width: 70%;
        max-height: 60%;
        letter-spacing: 0.1vw;
    
    }
    .button-class-2{
        margin: 0;
        position: absolute;
        top: 53%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .colorcode{
        margin: 0;
        position: absolute;
        top: 70%;
        left: 60%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: fantasy;
        color-adjust: inherit;
        font-size: 4vw;
        line-height: 7vw;
        
    }
}

@media screen and (min-width: 1200px) {
    .button-class{
        margin: 0;
        position: absolute;
        top: 30%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 2.2vw;
        max-width: 70%;
        max-height: 60%;
        
    
    }
    .button-class-2{
        margin: 0;
        position: absolute;
        top: 55%;
        left: 51%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .colorcode{
        margin: 0;
        position: absolute;
        top: 3%;
        left: 88%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-family: fantasy;
        color-adjust: inherit;
        font-size: 1.2vw;
    }
}
    
.quote{
    font-family: fantasy;
    font-size-adjust: inherit;
    font-size: 90%;
}
.button {
    position: relative;
    background-color: #4d4d4d77;
    border: none;
    font-size: 15px;
    font-family: fantasy;
    font-style: italic;
    color: #FFFFFF;
    padding: 0px;
    width: 205px;
    height: 60px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 80%;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 80%;
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    border-radius: 80%;
  }
  .footer{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 51%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
